.App {
  min-height: vh100;
}

.container {
  max-width: 100%;
}

.bg-green {
  background-color: rgb(0, 74, 23);
}

.text-green {
  color: rgb(0, 74, 23);
}

a {
  color: rgb(104, 244, 230);
}

a:hover {
  color: rgb(173, 1, 1)
}